doctype html
html(lang="en")
	head
		title Detalles de contacto
	body
		h1 Detalles de contacto
		
		ul
			li Nombre: #{nombre}
			li Apellido: #{apellido}
			li Edad: #{edad}
			li sexo: #{sexo}
		
		p Gracias por registrarte
		
		
		
		
		