doctype html
html(lang="en")
	head
		title Detalles del producto
	body
		h1 Detalles del producto
		
		ul
			li Nombre del juego: #{titulo_juego}
			li Descripcion: #{descripcion}
			li Ranking: #{valoracion}